@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9f9f9;
	--color-gray-100: #f4f4f4;
	--color-gray-200: #e5e5e5;
	--color-gray-300: #d4d4d4;
	--color-gray-400: #a3a3a3;
	--color-gray-500: #737373;
	--color-gray-600: #525252;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #171717;
	--color-gray-950: #0a0a0a;

	/* Primary colors from brand */
	--color-primary-50: oklch(0.979 0.021 166.113);
	--color-primary-100: oklch(0.95 0.052 163.051);
	--color-primary-200: oklch(0.905 0.093 164.15);
	--color-primary-300: oklch(0.845 0.143 164.978);
	--color-primary-400: oklch(0.765 0.177 163.223);
	--color-primary-500: oklch(0.696 0.17 162.48);
	--color-primary-600: oklch(0.596 0.145 163.225);
	--color-primary-700: oklch(0.508 0.118 165.612);
	--color-primary-800: oklch(0.432 0.095 166.913);
	--color-primary-900: oklch(0.378 0.077 168.94);
	--color-primary-950: oklch(0.262 0.051 172.552);

	--font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: var(--color-gray-900);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
}
